#menuHome{
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
#menuCart{
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}